<p>{{ 'mailer.common.hi' | t: 'name', user.available_name }},</p>

<p>
  Conversation #{{conversation.display_id}} in {{ inbox.name }}
  {{ 'mailer.agent_notifications.sla_missed_next_response.body' | t }} {{ sla_policy.name }}.
</p>

<p>
<a href="{{action_url}}">{{ 'mailer.agent_notifications.sla_missed_next_response.action' | t }}</a>
</p>
